@media only screen and (min-width: 640px) {

    header,
    nav,
    main,
    footer {
        max-width: 1024px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 50px auto;
    }


    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation li {
        flex: 1;
    }

    .navigation a {
        text-align: center;
        border: none;
    }

    /* --- MAIN DISCOVER --- */

    .discover-card {

        grid-template-columns: 300px 1fr;

        grid-template-areas:
            "title title"
            "image description"
            "image address"
            "button button";

        align-items: start;
    }

    .discover-card img {
        width: 100%;
    }
}